In [2]:
import pandas as pd

### Load Data

In [6]:
df = pd.read_csv("../data/prj_dataset.csv")
df.head()

,Project Name,Project Description,Project Type,Project Manager,Region,Department,Project Cost,Project Benefit,Complexity,Status,Completion%,Phase,Year,Month,Start Date,End Date
0,Rhinestone,Associations Now Is A Casual Game To Teach You...,INCOME GENERATION,Yael Wilcox,North,Admin & BI,"3,648,615.00","8,443,980.00",High,In - Progress,77%,Phase 4 - Implement,2021,2,2/1/2021,6/1/2021
1,A Triumph Of Softwares,Is A Fully Managed Content Marketing Software ...,INCOME GENERATION,Brenda Chandler,West,eCommerce,"4,018,835.00","9,012,225.00",High,Cancelled,80%,Phase 2 - Develop,2021,3,3/1/2021,6/1/2021
2,The Blue Bird,Most Content Marketers Know The Golden Rule: Y...,INCOME GENERATION,Nyasia Hunter,North,Warehouse,"4,285,483.00","9,078,339.00",High,Completed,100%,Phase 4 - Implement,2021,3,3/1/2021,6/1/2021
3,Remembering Our Ancestors,"Utilize And Utilizes (Verb Form) The Open, Inc...",PROCESS IMPROVEMENT,Brenda Chandler,East,Sales and Marketing,"5,285,864.00","8,719,006.00",High,Cancelled,75%,Phase 5 - Measure,2021,3,3/1/2021,6/1/2021
4,Skyhawks,Is A Solution For Founders Who Want To Win At ...,WORKING CAPITAL IMPROVEMENT,Jaylyn Mckenzie,East,eCommerce,"5,785,601.00","8,630,148.00",High,Completed,100%,Phase 1 - Explore,2021,3,3/1/2021,6/1/2021

### Check Meta-Data

In [13]:
metadata = pd.DataFrame({
    'Column Name': df.columns,
    'Data Type': df.dtypes.values,
    'Non-Null Count': df.notnull().sum().values,
    'Missing Count': df.isnull().sum().values,
    'Missing %': (df.isnull().mean() * 100).values,
    'Unique Values': df.nunique().values,
    'Sample Values': [df[col].dropna().unique()[:3] for col in df.columns]
})

# Optional: set column name as index
metadata.set_index('Column Name', inplace=True)

metadata

,Data Type,Non-Null Count,Missing Count,Missing %,Unique Values,Sample Values
Column Name,,,,,,
Project Name,object,99,0,0.0,99,"[Rhinestone, A Triumph Of Softwares, The Blue ..."
Project Description,object,99,0,0.0,95,[Associations Now Is A Casual Game To Teach Yo...
Project Type,object,99,0,0.0,4,"[INCOME GENERATION, PROCESS IMPROVEMENT, WORKI..."
Project Manager,object,99,0,0.0,7,"[Yael Wilcox, Brenda Chandler, Nyasia Hunter]"
Region,object,99,0,0.0,4,"[North, West, East]"
Department,object,99,0,0.0,5,"[Admin & BI, eCommerce, Warehouse]"
Project Cost,object,99,0,0.0,99,"[ 3,648,615.00 , 4,018,835.00 , 4,285,483.00 ]"
Project Benefit,object,99,0,0.0,99,"[ 8,443,980.00 , 9,012,225.00 , 9,078,339.00 ]"
Complexity,object,99,0,0.0,3,"[High, Medium, Low]"
Status,object,99,0,0.0,4,"[In - Progress, Cancelled, Completed]"
Completion%,object,99,0,0.0,22,"[77%, 80%, 100%]"
Phase,object,99,0,0.0,5,"[Phase 4 - Implement, Phase 2 - Develop, Phase..."
Year,int64,99,0,0.0,5,"[2021, 2022, 2023]"
Month,int64,99,0,0.0,12,"[2, 3, 4]"
Start Date,object,99,0,0.0,49,"[2/1/2021, 3/1/2021, 4/1/2021]"
End Date,object,99,0,0.0,43,"[6/1/2021, 7/1/2021, 8/1/2021]"

### Explore Detailed Meta-Data

In [15]:
import pandas as pd
import numpy as np

def generate_metadata(df):
    metadata = []

    for col in df.columns:
        col_data = df[col]
        col_type = col_data.dtypes

        # Base info
        col_info = {
            'Column Name': col,
            'Data Type': col_type,
            'Non-Null Count': col_data.notnull().sum(),
            'Missing Count': col_data.isnull().sum(),
            'Missing %': round(col_data.isnull().mean() * 100, 2),
            'Unique Values': col_data.nunique(),
            'Is Constant': col_data.nunique() == 1,
            'Sample Values': col_data.dropna().unique()[:3]
        }

        # Numeric stats
        if pd.api.types.is_numeric_dtype(col_data):
            col_info.update({
                'Min': col_data.min(),
                'Max': col_data.max(),
                'Mean': col_data.mean(),
                'Std': col_data.std(),
                'Is Binary': set(col_data.dropna().unique()).issubset({0, 1}),
                'Skewness': col_data.skew(),
                'Kurtosis': col_data.kurtosis()
            })
        
        # Date/time info
        elif pd.api.types.is_datetime64_any_dtype(col_data):
            col_info.update({
                'Min Date': col_data.min(),
                'Max Date': col_data.max()
            })
        
        # Text/categorical stats
        else:
            col_info.update({
                'Most Frequent': col_data.mode().iloc[0] if not col_data.mode().empty else np.nan,
                'Top Freq Count': col_data.value_counts().iloc[0] if not col_data.value_counts().empty else np.nan,
                'Average Length': col_data.dropna().astype(str).apply(len).mean()
            })

        metadata.append(col_info)

    meta_df = pd.DataFrame(metadata)
    meta_df.set_index('Column Name', inplace=True)
    return meta_df

# Usage
metadata = generate_metadata(df)
metadata

,Data Type,Non-Null Count,Missing Count,Missing %,Unique Values,Is Constant,Sample Values,Most Frequent,Top Freq Count,Average Length,Min,Max,Mean,Std,Is Binary,Skewness,Kurtosis
Column Name,,,,,,,,,,,,,,,,,
Project Name,object,99,0,0.0,99,False,"[Rhinestone, A Triumph Of Softwares, The Blue ...",15 Five,1.0,15.474747,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Project Description,object,99,0,0.0,95,False,[Associations Now Is A Casual Game To Teach Yo...,Is A Solution For Founders Who Want To Win At ...,4.0,270.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Project Type,object,99,0,0.0,4,False,"[INCOME GENERATION, PROCESS IMPROVEMENT, WORKI...",INCOME GENERATION,27.0,19.363636,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Project Manager,object,99,0,0.0,7,False,"[Yael Wilcox, Brenda Chandler, Nyasia Hunter]",Aleena Khan,18.0,13.080808,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Region,object,99,0,0.0,4,False,"[North, West, East]",North,34.0,4.555556,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Department,object,99,0,0.0,5,False,"[Admin & BI, eCommerce, Warehouse]",Supply Chain,24.0,11.323232,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Project Cost,object,99,0,0.0,99,False,"[ 3,648,615.00 , 4,018,835.00 , 4,285,483.00 ]","2,418,301.00",1.0,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Project Benefit,object,99,0,0.0,99,False,"[ 8,443,980.00 , 9,012,225.00 , 9,078,339.00 ]","8,422,578.00",1.0,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Complexity,object,99,0,0.0,3,False,"[High, Medium, Low]",High,40.0,4.282828,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Status,object,99,0,0.0,4,False,"[In - Progress, Cancelled, Completed]",Completed,30.0,10.010101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completion%,object,99,0,0.0,22,False,"[77%, 80%, 100%]",100%,30.0,3.303030,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Phase,object,99,0,0.0,5,False,"[Phase 4 - Implement, Phase 2 - Develop, Phase...",Phase 4 - Implement,24.0,16.909091,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,int64,99,0,0.0,5,False,"[2021, 2022, 2023]",NaN,NaN,NaN,2021.0,2025.0,2022.747475,1.402210,False,0.304346,-1.201996
Month,int64,99,0,0.0,12,False,"[2, 3, 4]",NaN,NaN,NaN,1.0,12.0,7.151515,3.211471,False,-0.170034,-1.069659
Start Date,object,99,0,0.0,49,False,"[2/1/2021, 3/1/2021, 4/1/2021]",3/1/2021,5.0,8.282828,NaN,NaN,NaN,NaN,NaN,NaN,NaN
End Date,object,99,0,0.0,43,False,"[6/1/2021, 7/1/2021, 8/1/2021]",3/1/2025,6.0,8.303030,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Remove space from columns and also %

In [16]:
# Remove leading/trailing spaces and all internal spaces
df.columns = df.columns.str.strip().str.replace(' ', '', regex=False)

# Rename a specific column
df.rename(columns={'Completion%': 'CompletionPercentage'}, inplace=True)

# Print updated column names
print(df.columns)

Index(['ProjectName', 'ProjectDescription', 'ProjectType', 'ProjectManager',
       'Region', 'Department', 'ProjectCost', 'ProjectBenefit', 'Complexity',
       'Status', 'CompletionPercentage', 'Phase', 'Year', 'Month', 'StartDate',
       'EndDate'],
      dtype='object')

### clean values to avoid problems in DB

In [17]:
# --- 2. Clean the data values ---
df['ProjectCost'] = df['ProjectCost'].astype(str).replace({',': ''}, regex=True)
df['ProjectBenefit'] = df['ProjectBenefit'].astype(str).replace({',': ''}, regex=True)
df['CompletionPercentage'] = df['CompletionPercentage'].astype(str).replace({'%': ''}, regex=True)
df['StartDate'] = pd.to_datetime(df['StartDate']).dt.strftime('%Y-%m-%d')
df['EndDate'] = pd.to_datetime(df['EndDate']).dt.strftime('%Y-%m-%d')

In [18]:
df.to_csv('../data/cleaned_data.csv')